.TodayWeather {
  padding: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.WeatherIcon {
  display: flex;
  align-items: center;
}

.WeatherIconImage {
  width: 90px;
  opacity: 0.8;
}

.Details {
  display: flex;
  justify-content: space-between;
}
.DetailsText {
  font-size: 11px !important;
}

@media screen and (max-width: 768px) {
  .WeatherIconContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }
  .TodayWeather {
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 30px;
    max-width: 450px;
    margin: auto;
  }
  .Temp {
    font-size: 50px !important;
  }
  .Date {
    font-size: 15px !important;
  }
  .WeatherIconImage {
    width: 50px;
  }
}

@media screen and (max-width: 350px) {
  .TodayWeather {
  }
  .Details {
    flex-direction: column;
  }
}
